@keyframes slide-up {
    from {
        opacity: 0.2;
        line-height: 200px;
    }

    to {
        opacity: 1;
        line-height: 40px;
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        margin-left: 100%;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        margin-right: 100%;
    }

    to {
        opacity: 1;
        margin-right: 0;
    }
}

.left {
    animation: slide-left 5s;
}

.text {
    animation: slide-up 1.5s;
}

.right {
    animation: slide-right 1.5s;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#btn {
    position: sticky;
    display: flex;
    top: 90vh;
    margin-left: 80%;



    z-index: 1;
}

@media screen and (min-width:48em) {
    #btn {
        margin-left: 90vw !important;
    }
}